// emailjs.config.js

// Store your EmailJS user ID here
export const EMAILJS_USER_ID = 'nhremon8181@gmail.com';

// Store your EmailJS service ID here
export const EMAILJS_SERVICE_ID = 'service_m0jp4zl';

// Store your EmailJS template ID here
export const EMAILJS_TEMPLATE_ID = 'template_2055b1b';
